trunk/javademo/XMLJAVA/SONNET.DTD

<!-- sonnet.dtd                                        -->

<!-- sonnet is the root of the document                -->
<!ELEMENT sonnet  (author,title?,lines)>
<!-- the default sonnet type is "Shakespearean"        -->
<!ATTLIST sonnet  type (Shakespearean | Petrarchan)  
                       "Shakespearean">

<!-- author contains information about the author      -->
<!ELEMENT author  (last-name,first-name,nationality,
                   year-of-birth?,year-of-death?)>

<!-- last-name, first-name, nationality, year-of-birth,
     and year-of-death are all elements inside author. -->

<!ELEMENT last-name (#PCDATA)>
<!ELEMENT first-name (#PCDATA)>
<!ELEMENT nationality (#PCDATA)>
<!ELEMENT year-of-birth (#PCDATA)>
<!ELEMENT year-of-death (#PCDATA)>

<!-- The title of the sonnet                           -->
<!ELEMENT title (#PCDATA)>

<!-- The lines element contains the 14 lines of the    
     sonnet.                                           -->
<!ELEMENT lines (line,line,line,line,
                 line,line,line,line,
                 line,line,line,line,
                 line,line)>

<!ELEMENT line (#PCDATA)>
